body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 30px;
}
#password {
  width: 500px;
  font-size: 16px;
  text-align: center;
}

.layout {
  padding: 2rem, 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

.user-input {
  display: flex;
  align-items: first baseline;
  gap: 1rem;
  padding-top: 2rem;
}

.password-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.button {
  color: white;
  background-color: #003cff;
  border-color: #003cff;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  box-shadow: none;
}

.button:hover,
button:focus {
  background-color: #278efd;
  border-color: #278efd;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.horizontal-rule {
  margin: 3rem 0 2rem 0;
}

#feedback {
  font: size 14px;
  font-weight: bold;
  margin: 0;
}

#hibp-feedback {
  font-weight: bold;
}

.password-breached {
  color: red;
}
.password-safe {
  color: green;
}
.password-null {
  color: grey;
}

.containerH {
  display: flex;
  flex-direction: row;
  border-style: solid;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 10px;
  border-left: 4px solid #007bff;
  margin-top: 5px;
  border-radius: 4px;
}

.dropdown-header {
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.dropdown-header:hover {
  text-decoration: underline;
}

.chevron {
  transition: transform 0.2s ease-in-out;
  margin-left: 10px;
  display: inline-block;
  color: #007bff;
}

.strength-bar {
  height: 10px;
  width: 95%;
  background: lightgray;
  margin: 10px auto;
  border-radius: 5px;
}
.strength-fill {
  height: 100%;
  width: 0%;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.strength-fill.breached {
  height: 100%;
  width: 100%;
  background: red;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#feedback-container {
  min-height: 80px;
  width: 300px;
  position: absolute;
  right: 300px;
  top: 50px;
}

/* Password Strength Colours */
.veryweak {
  background: red;
}
.weak {
  background: orange;
}
.moderate {
  background: yellow;
}
.strong {
  background: greenyellow;
}
.verystrong {
  background: green;
}

/* Character Set Indicators */
.char-indicator {
  color: grey;
  font-weight: bold;
  transition: color 0.3s ease;
}

.char-indicator.active {
  color: green;
}
